.form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.mapContainer{
    width: 100vw;
    height: 50vh;
}