@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.navbarContainer {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  .logo {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2rem;
    padding-left: 10px;
    color: black;
  }
}
